{% extends 'instructor/home_index.html' %}
{% block body %}

<body><form action="/myapp/instpchange_post/" method="post"><table class="table table-bordered table-striped">
    {% csrf_token %}
  <tr>
    <th>Current password</th>
    <td width="193">
      <input type="text" name="textfield" class="form-control" id="textfield" required /></td>
  </tr>
  <tr>
    <th>New password</th>
    <td>
      <input type="text" name="textfield2" class="form-control" id="textfield2" required/></td>
  </tr>
  <tr>
    <th>Conform password</th>
    <td>
      <input type="text" name="textfield3" class="form-control" id="textfield3" required/></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="submit" class="btn btn-success" id="submit" value="Submit" /></td>
  </tr>
</table>
</form>
</body>
{% endblock %}
