<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/approverejectvendor/">approve reject vendors</a><br>
<a href="/myapp/approvedvendors/">approved vendors</a><br>
<a href="/myapp/rejectedvendors/">rejected vendors</a><br>
<a href="/myapp/notify/">notification</a><br>
<a href="/myapp/vnotify/">view notification</a><br>
<a href="/myapp/vuser/">view user</a><br>
<a href="/myapp/instpchange/">change password</a><br>

</body>
</html>