{% extends 'instructor/home_index.html' %}
{% block body %}

<body><form action="/myapp/view_instruction_post/" method="post"><table class="px pull-left">
    {% csrf_token %}
  <tr>
    <th>From</th>
    <td>
      <input type="date" class="form-control" name="textfield" id="textfield" required /></td>
    <th>To</th>
    <td>
      <input type="date" class="form-control" name="textfield2" id="textfield2" required /></td>
    <td><input type="submit" class="btn btn-success" name="search" id="search" value="Search" /></td>
  </tr>
    <br>
<br>
</table><br><br><table class="table table-bordered table-striped">
  <tr>
    <th style="color: black">S.no</th>
    <th style="color: black">Instruction</th>
      <th style="color: black">Date and time</th>
            <th style="color: black">Photo</th>

    <th></th>
      <th></th>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ i.inst }}</td>
      <td>{{ i.date }}</td>

      <td><img src="{{ i.photo }}"alt=""height="200px"width="200px"></td>
          <td><a href="/myapp/edit_inst/{{ i.id }}"  class="btn btn-info" >Edit </a> </td>
      <td> <a href="/myapp/delete_inst/{{ i.id }}"  class="btn btn-danger" onclick="return confirm('Are You Sure?')" >Delete </a></td>
  </tr>
    {% endfor %}
</table>

</form>
</body>
{% endblock %}
