{% extends 'user/home_index.html' %}
{% block body %}


<body><form action="/myapp/pstatus_post/" method="post"><table class="px pull-left">
    {% csrf_token %}
  <tr>
    <th style="color: black">From</th>
    <td>
      <input type="date" name="textfield" id="textfield" class="form-control" /></td>
    <th style="color: black">To</th>
    <td>
      <input type="date" name="textfield2" id="textfield2" class="form-control"/></td>
    <td><input type="submit" name="button" id="button" value="Search" class="btn btn-success" /></td>
  </tr>
</table><br><br>
    <table class="table table-bordered table-striped">
    <tr>
        <th style="color: black">S.no</th>
      <th style="color: black">Product Name</th>
      <th style="color: black">Date</th>
      <th style="color: black">Status</th>
    </tr>
      {% for i in data %}
    <tr>
        <td>{{ forloop.counter }}</td>
      <td>{{ i.product.name }}</td>
      <td>{{ i.date_and_time }}</td>
      <td>&nbsp;{{ i.status }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
