<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>	
<head>
<title>Queer Signup Form with Flat Responsive widget Design :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
 <meta name="keywords" content="Queer Signup form a Flat Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<link href="/static/usignup/css/style.css" rel='stylesheet' type='text/css' />
<!--webfonts-->
<link href="//fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900" rel="stylesheet">
<!--//webfonts-->

</head>
<body>

 <h1>User Signup Form</h1>
   
 <div class="w3_frm">
 <!---728x90---> 
  <form action="/myapp/usersignup_post/" enctype="multipart/form-data" method="post">
      {% csrf_token %}
			<h3>Signup Form</h3>
			<div class="field-w3-agile-grid leftf">	
				<input type="text" name="textfield" pattern="[a-zA-Z]+" placeholder="UserName" required="" />
			</div>
			<div class="field-w3-agile-grid leftf">	
				<input type="email" name="textfield2" placeholder="Email" required="" />
			</div>

			<!---728x90--->
            <div class="field-w3-agile-grid leftf">
				<input type="date" name="textfield5" placeholder="Date Of Birth" required="" />
			</div>
			<div class="field-w3-agile-grid leftf">	
				<input type="file" name="textfield4" placeholder="Photo" required="" />
			</div>
			<div class="w3l_gen">
{#			<h5>Gender:</h5>#}
			<div class="w3_ml">
			<!---728x90---> 
			<input type="radio" name="RadioGroup1"  value="Male">
				<label for="brand"><span></span>Male</label>
			</div>
			
			<div class="w3_fl">
			<input type="radio" name="RadioGroup1"  value="Female">
				<label for="brand"><span></span>Female</label>
			</div>
                <div class="w3_fl">
			<input type="radio" name="RadioGroup1"  value="Others">
				<label for="brand"><span></span>Others</label>
			</div>
			</div>
			
			
			<div class="field-w3-agile-grid leftf">	
				<input type="text" name="textfield3" pattern="[6789][0-9]{9}" placeholder="PhoneNumber" required="" />
			</div>
            <div class="field-w3-agile-grid leftf">
				<input type="text" name="textfield6" placeholder="Place" required="" />
			</div>
            <div class="field-w3-agile-grid leftf">
				<input type="text" name="textfield7" pattern="[a-zA-Z]+" placeholder="District" required="" />
			</div>
            <div class="field-w3-agile-grid leftf">
				<input type="text" name="textfield8" pattern="[6][0-9]{5}" placeholder="Pin" required="" />
			</div>
			<div class="field-w3-agile-grid rightf">
				<input type="password" name="textfield9" placeholder="PassWord" required="" />
			</div>
			<div class="field-w3-agile-grid rightf">
				<input type="password" name="textfield10" placeholder="Confirm PassWord" required="" />
			</div>
			<div class="field-w3-agile-grid rem">
			<input type="checkbox" value="">
				<label for="brand"><span></span>I Accept to the Terms and Conditions</label>
			</div>
			
			<input type="submit" value="SIGNUP">
		</form>

	
	</div>
 		<!--copyright-->
	<div class="copy-wthree">
{#		<p>© 2018 Queer Signup Form . All Rights Reserved | Design by#}
{#			<a href="http://w3layouts.com/" target="_blank">W3layouts</a>#}
{#		</p>#}
	</div>
	<!--//copyright-->


</body>
</html>