{% extends 'user/home_index.html' %}
{% block body %}
<body><form action="/myapp/userpchange_post/" method="post"><table class="table table-bordered table-striped">
    {% csrf_token %}
  <tr>
    <th style="color: black">Current Password</th>
    <th>
      <input type="text" name="textfield" id="textfield" class="form-control" required/></td>
  </tr>
  <tr>
    <th style="color: black">New Password</th>
    <td>
      <input type="text" name="textfield2" id="textfield2" class="form-control" required/></td>
  </tr>
  <tr>
    <th style="color: black">Conform Password</th>
    <td>
      <input type="text" name="textfield3" id="textfield3" class="form-control" required/></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="submit" id="submit" value="Submit" class="btn btn-success"/></td>
  </tr>
</table>
</form>
</body>
{% endblock %}
