{% extends 'user/home_index.html' %}
{% block body %}


<body><form action="/myapp/uservproduct_post/" method="post"><table class="px pull-left">
    {% csrf_token %}
  <tr>
    <th style="color: black">Product Search</th>
    <th>
      <input type="text" name="textfield" id="textfield" class="form-control" placeholder="search by name"/></td>
    <td width="148"><input type="submit" name="button" id="button" value="Search" class="btn btn-success"/></td>
  </tr>
</table><br><br>
  <p>&nbsp;</p>
  <table class="table table-bordered">
    <tr>
        <th style="color: black">Sno</th>
      <th style="color: black">Product Name</th>
      <th style="color: black">Photo</th>
      <th style="color: black">Price</th>
      <th style="color: black">Review</th>
      <th style="color: black">Buy</th>
      <th style="color: black">Feedback</th>
    </tr>
      {% for i in data %}
    <tr>
      <td width="50px">{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.name }}</td>
      <td>&nbsp;<img src="{{ i.photo }}" alt=""height="100px" width="100px"/></td>
        <td>{{ i.price }}</td>
      <td width="50px"><a href="/myapp/vufeedback/{{ i.id }}" class="btn btn-primary">Feedback</a></td>
                  <td width="50px"><a href="/myapp/buyproduct/{{ i.id }}" class="btn btn-info" onclick="return confirm('Are you sure')">Buy</a></td>

{#    {{ i.status }}#}
{##}
{#        <td>#}
{#             {% if i.status == 'pending' %}#}
{#          <a href="/myapp/buyproduct/{{ i.id }}">Buy</a>#}
{#             {% else %}#}
{#                 requested#}
{#            {% endif %}</td>#}
      <td width="90px"><a href="/myapp/sfeedback/{{ i.id }}" class="btn btn-primary">SendFeedback</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
